# macOS
.DS_Store

# Editors
.idea/
.vscode/
*.swp
*.swo

# Node / JavaScript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
.pytest_cache/
.ruff_cache/
.venv/
venv/
**/__pycache__/

# Local assets (personal/raw)
assets/openai-tmp/
assets/10A6EFE0-04DD-442C-97D4-E7A2C3468C00_1_105_c.jpeg

# Coverage / reports
.coverage
coverage/
megalinter-reports/

# Build output
dist/
build/

# venv and virtualenv
.venv*
